<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Calculator" verbose="1" parallel="classes">
	<test name="TestSumLong">
		<parameter name="a" value="3" />
		<parameter name="b" value="1" />
		<parameter name="expected" value="4" />
		<groups>
			<run>
				<exclude name="testGroup" />
			</run>
		</groups>
		<classes>
			<class name="project.calc.testng.TestSum" />
		</classes>
	</test> <!-- Test -->

	<test name="TestSumDouble">
		<classes>
			<class name="project.calc.testng.TestSumDouble" />
		</classes>
	</test> <!-- Test -->

	<test name="TestSubLong">
		<classes>
			<class name="project.calc.testng.TestSubLong" />
		</classes>
	</test> <!-- Test -->

	<test name="TestSubDouble">
		<classes>
			<class name="project.calc.testng.TestSubDouble" />
		</classes>
	</test> <!-- Test -->

	<test name="TestSqrtDouble">
		<classes>
			<class name="project.calc.testng.TestSqrtDouble" />
		</classes>
	</test> <!-- Test -->

	<test name="TestDivDouble">
		<classes>
			<class name="project.calc.testng.TestDivDouble" />
		</classes>
	</test> <!-- Test -->

	<test name="TestDivLong">
		<classes>
			<class name="project.calc.testng.TestDivLong" />
		</classes>
	</test> <!-- Test -->

	<test name="TestMultDouble">
		<classes>
			<class name="project.calc.testng.TestMultDouble" />
		</classes>
	</test> <!-- Test -->

	<test name="TestMultLong">
		<classes>
			<class name="project.calc.testng.TestMultLong" />
		</classes>
	</test> <!-- Test -->

	<test name="TestPow">
		<classes>
			<class name="project.calc.testng.TestPow" />
		</classes>
	</test> <!-- Test -->

	<test name="TestSin">
		<classes>
			<class name="project.calc.testng.TestSin" />
		</classes>
	</test> <!-- Test -->

	<test name="TestCos">
		<classes>
			<class name="project.calc.testng.TestCos" />
		</classes>
	</test> <!-- Test -->

	<test name="TestTan">
		<classes>
			<class name="project.calc.testng.TestTan" />
		</classes>
	</test> <!-- Test -->

	<test name="TestCot">
		<classes>
			<class name="project.calc.testng.TestCot" />
		</classes>
	</test> <!-- Test -->

	<test name="TestPositive">
		<classes>
			<class name="project.calc.testng.TestIsPositive" />
		</classes>
	</test> <!-- Test -->

	<test name="TestNegative">
		<classes>
			<class name="project.calc.testng.TestIsNegative" />
		</classes>
	</test> <!-- Test -->




</suite> <!-- Suite -->
